.pie
{
  background-color: #bc88cc!important;
  font-family: Georgia, 'Times New Roman', Times, serif;
 }

 .cuerpo
 {
  background-color: #e6ae47!important;
  background-image: url(../css/imagenes/fondo.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Georgia, 'Times New Roman', Times, serif;
 }  
 

.bg-light
{
  background-color:#a9a2eb!important;
}

.bg-secondary
{
  background-color:#7b198a!important;
}

.centrado
{
  text-align: center;
}