.pie
{
  background-color: #bc88cc!important;
  font-family: Georgia, 'Times New Roman', Times, serif;
 }

 .cuerpo
 {
  background-color: #2d3585!important;
  background-image: url(../css/imagenes/fondo.jpg);
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  background-size: cover;
  font-family: Georgia, 'Times New Roman', Times, serif;
 }  

 .fondo2
 {
  background-color: #5957ca!important;
  background-image: url(../css/imagenes/background.jpg);
  background-repeat:repeat;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
 }  
 

.bg-light
{
  background-color:#a9a2eb!important;
}

.bg-secondary
{
  background-color:#b583bd!important;
}

.centrado
{
  text-align: center;
}